.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/@vscode/test-electron/**
!node_modules/@vscode/test-cli/**
.github/**
.git/**
webpack.config.js